:root {
  /* COLOR */
  --danger-100: rgb(252, 236, 234);
  --danger-200: rgb(245, 192, 184);
  --danger-300: rgb(238, 94, 82);
  --danger-400: rgb(208, 43, 32);
  --danger-500: rgb(183, 43, 26);
  --foundation-grey-grey-1: rgb(235, 235, 235);
  --foundation-grey-grey-10: rgb(23, 23, 23);
  --foundation-grey-grey-2: rgb(206, 206, 206);
  --foundation-grey-grey-3: rgb(167, 167, 167);
  --foundation-grey-grey-4: rgb(126, 126, 126);
  --foundation-grey-grey-5: rgb(88, 88, 88);
  --foundation-grey-grey-6: rgb(51, 51, 51);
  --foundation-grey-grey-7: rgb(43, 43, 43);
  --foundation-grey-grey-8: rgb(36, 36, 36);
  --foundation-grey-grey-9: rgb(29, 29, 29);
  --foundation-neutral-neutral-1: rgb(235, 235, 235);
  --foundation-neutral-neutral-10: rgb(23, 23, 23);
  --foundation-neutral-neutral-2: rgb(206, 206, 206);
  --foundation-neutral-neutral-3: rgb(167, 167, 167);
  --foundation-neutral-neutral-4: rgb(126, 126, 126);
  --foundation-neutral-neutral-5: rgb(88, 88, 88);
  --foundation-neutral-neutral-6: rgb(51, 51, 51);
  --foundation-neutral-neutral-7: rgb(43, 43, 43);
  --foundation-neutral-neutral-8: rgb(36, 36, 36);
  --foundation-neutral-neutral-9: rgb(29, 29, 29);
  --neutral-000: rgb(217, 217, 217);
  --neutral-700: rgb(67, 67, 67);
  --neutral-800: rgb(38, 38, 38);
  --neutral-900: rgb(20, 20, 20);
  --primary-000: rgb(247, 248, 251);
  --primary-200: rgb(199, 221, 255);
  --primary-300: rgb(119, 172, 255);
  --primary-400: rgb(88, 142, 229);
  --primary-500: rgb(39, 109, 220);
  --secondary-100: rgb(234, 245, 255);
  --secondary-200: rgb(184, 225, 255);
  --secondary-200: rgb(211, 178, 218);
  --secondary-400: rgb(167, 101, 181);
  --secondary-500: rgb(102, 183, 241);
  --secondary-500: rgb(145, 62, 162);
  --secondary-600: rgb(12, 117, 175);
  --secondary-700: rgb(0, 96, 150);
  --secondary-100: rgb(233, 216, 236);
  --secondary-300: rgb(193, 113, 209);
  --success-100: rgb(218, 244, 225);
  --success-300: rgb(120, 214, 119);
  --success-400: rgb(70, 184, 116);
  --success-500: rgb(19, 148, 71);
  --warning-100: rgb(253, 244, 220);
  --warning-200: rgb(250, 231, 185);
  --warning-300: rgb(242, 157, 65);
  --warning-500: rgb(217, 130, 47);
  --warning-500: rgb(190, 93, 1);
  --success-200: rgb(163, 219, 185);
}
